<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mini.spring.mvc.repository.GuestMapper" >
	<select id="count" resultType="int">
		select count(*) from guest
	</select>
													<!-- parameter 두개로 받아와도 되고, hashmap도 가능! -->
	<select id="list" resultType="GuestDTO" >
		select * from guest order by ref desc, re_step asc
	</select>
	
	<select id="writer" resultType="String">
		 select name from member where id=#{id}
	</select>
	<select id ="maxNum" resultType="int">
		select NVL(max(num),0) from guest
	</select>
	<insert id="writeInsert" parameterType="mini.spring.mvc.bean.GuestDTO">
		insert into guest(num, writer, content, reg_date, ref, re_step) values(
				guest_seq.NEXTVAL,
				#{writer},
				#{content},
				sysdate,
				#{ref},
				#{re_step})
	</insert> 
	
	<delete id="delete" parameterType="int">
		delete from guest where ref=#{ref}
	</delete>
</mapper>
