<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="mini.spring.mvc.bean.GuestDTO" alias="GuestDTO"></typeAlias>
		<typeAlias type="mini.spring.mvc.bean.QADTO" alias="QADTO"></typeAlias>
		<typeAlias type="mini.spring.mvc.bean.QAFileDTO" alias="QAFileDTO"></typeAlias>
	</typeAliases>
</configuration>